<?xml version="1.0" encoding="UTF-8" ?>
<persistence
    version="1.0"
    xmlns="http://java.sun.com/xml/ns/persistence"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
>

    <!-- Unite de persistence [1] -->
    <persistence-unit
        name="sitesPolytechUnit"
        transaction-type="RESOURCE_LOCAL"
    >
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>

        <!-- Entites [2] -->
        <class>is.sio.jpa.entites.EcolePolytech</class>
        <class>is.sio.jpa.entites.Domaine</class>
        <class>is.sio.jpa.entites.Specialite</class>
        <class>is.sio.jpa.entites.SpecialiteInitiale</class>
        <class>is.sio.jpa.entites.SpecialiteApprentissage</class>
        <class>is.sio.jpa.entites.SpecialiteFC</class>

        <properties>
            <!-- Info BD [3] -->
            <property name="jakarta.persistence.jdbc.user" value="sdesdevi" />
            <property
                name="jakarta.persistence.jdbc.password"
                value="postgres"
            />
            <property
                name="jakarta.persistence.jdbc.driver"
                value="org.postgresql.Driver"
            />
            <property
                name="jakarta.persistence.jdbc.url"
                value="jdbc:postgresql://sdesdevi_sitespolytech"
            />
            <!-- Configuration [4] -->
            <!-- <property name="eclipselink.logging.level" value="INFO" /> -->
            <!-- EclipseLink should create the database schema automatically -->
            <property
                name="jakarta.persistence.schema-generation.database.action"
                value="drop-and-create"
            /> <!-- drop-and-create ou bien none -->


        </properties>
    </persistence-unit>
</persistence>
